<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>登录 | 个人财务管理系统</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet" />
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>

    <link th:href="@{/css/dashboard.css}" type="text/css" rel="stylesheet" charset="utf-8"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" type="text/javascript"></script>
    <![endif]-->
</head>

<body style="background-color: #f1f1f1; padding-bottom: 0">

<script th:inline="javascript">
    function requestOauth2TOken(username, password) {
        var success = false;

        $.ajax({
            url: '/uaa/oauth/token',
            datatype: 'json',
            type: 'post',
            headers: {'Authorization': 'Basic YnJvd3Nlcjo='},
            async: false,
            data: {
                scope: 'ui',
                username: username,
                password: password,
                grant_type: 'password',
                client_id: 'browser',
                client_secret: '123456'
            },
            success: function (data) {
                localStorage.setItem('token', data.access_token);
                success = true;
            },
            error: function () {
                removeOauthTokenFromStorage();
            }
        });

        return success;
    }

    function getOauthTokenFromStorage() {
        return localStorage.getItem('token');
    }

    function removeOauthTokenFromStorage() {
        return localStorage.removeItem('token');
    }

    function getCurrentAccount(username) {

        var token = getOauthTokenFromStorage();
        var account = null;

        if (token) {
            $.ajax({
                url: '/accounts/' + username,
                datatype: 'json',
                type: 'get',
                headers: {'Authorization': 'Bearer ' + token},
                async: false,
                success: function (data) {
                    account = data;
                },
                error: function () {
                    removeOauthTokenFromStorage();
                }
            });
        }

        return account;
    }

    function initialCenter(account) {
        $('#updateTime').text(new Date(account.updateTime));
        $('#savingAmount').text(account.savingAmount);
        $('#name').text(account.name);
        $('#sex').text(account.sex);
        $('#age').text(account.age);
    }

    $(document).ready(function () {
        $("#loginbutton").click (function () {
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            var isLoginSuccess = false;
            localStorage.setItem('username', username);
            /*localStorage.setItem('password', password);
            if(requestOauth2TOken(username, password)) {
                window.location.href="/index";
            }
            else alert("Something went wrong. Please, check your credentials");*/
            $.ajax({
                url: '/uaa/login',
                datatype: 'json',
                type: 'post',
                async: false,
                data: {
                    username: username,
                    password: password
                },
                success: function (data) {
                    //var json_data = JSON.parse(data);
                    var status = data.status;
                    if (status.toString() === "success") {
                        if (requestOauth2TOken(username, password)) {
                            $('#loginstatus').text("登陆成功");
                            $('#logoutbtn').show();
                            $('#loginbtn').hide();
                            var account = getCurrentAccount(username);
                            localStorage.setItem('account', account);
                            $('#loginpagediv').hide();
                            initialCenter(account);
                            $('#mainpagediv').show();
                        }
                        else {
                            $('#loginstatus').text("登陆失败");
                        }
                    }
                    else if (status.toString() === 'fail')
                        $('#loginstatus').text("用户名或密码错误");
                },
                error: function () {
                    $('#loginstatus').text("登陆失败");
                }
            });
        });
    });

    $(document).ready(function () {
        $('#sidenav li').click(function () {
            $(this).addClass("active").siblings("li").removeClass("active");

            if (this.id === "center") {
                $('#centerdiv').show();
                $('#incomemanagementdiv').hide();
                $('#expensemanagementdiv').hide();
                $('#financemanagementdiv').hide();
                $('#financialstatementsdiv').hide();
                $('#realassetsdiv').hide();
            }
            else if (this.id === "incomemanagement") {
                $('#centerdiv').hide();
                $('#incomemanagementdiv').show();
                $('#expensemanagementdiv').hide();
                $('#financemanagementdiv').hide();
                $('#financialstatementsdiv').hide();
                $('#realassetsdiv').hide();
            }
            else if (this.id === "expensemanagement") {
                $('#centerdiv').hide();
                $('#incomemanagementdiv').hide();
                $('#expensemanagementdiv').show();
                $('#financemanagementdiv').hide();
                $('#financialstatementsdiv').hide();
                $('#realassetsdiv').hide();
            }
            else if (this.id === "financemanagement") {
                $('#centerdiv').hide();
                $('#incomemanagementdiv').hide();
                $('#expensemanagementdiv').hide();
                $('#financemanagementdiv').show();
                $('#financialstatementsdiv').hide();
                $('#realassetsdiv').hide();
            }
            else if (this.id === "financialstatements") {
                $('#centerdiv').hide();
                $('#incomemanagementdiv').hide();
                $('#expensemanagementdiv').hide();
                $('#financemanagementdiv').hide();
                $('#financialstatementsdiv').show();
                $('#realassetsdiv').hide();
            }
            else if (this.id === "realassets") {
                $('#centerdiv').hide();
                $('#incomemanagementdiv').hide();
                $('#expensemanagementdiv').hide();
                $('#financemanagementdiv').hide();
                $('#financialstatementsdiv').hide();
                $('#realassetsdiv').show();
            }
        });
    });

    function setPersonalInfo() {
        var token = getOauthTokenFromStorage();
        var name = document.getElementById("setName").value;
        var sex = document.getElementById("setSex").value;
        var age = document.getElementById("setAge").value;
        var savingAmount = document.getElementById("setSavingAmount").value;
        var updateTime = new Date();

        if (name === "") {
            alert("请输入姓名！");
            return false;
        }

        if (sex === "") {
            alert("请输入性别！");
            return false;
        }

        if (age === "") {
            alert("请输入年龄！")
            return false;
        }

        if (savingAmount === "") {
            alert("请输入储蓄金额！");
            return false;
        }

        if (token) {
            $.ajax({
                url: '/accounts/setPersonalInfo',
                datatype: 'json',
                type: 'post',
                contentType: "application/json",
                headers: {'Authorization': 'Bearer ' + token},
                async: false,
                data: JSON.stringify({
                    username: localStorage.getItem('username'),
                    updateTime: updateTime,
                    name: name,
                    age: age,
                    sex: sex,
                    savingAmount: savingAmount
                }),
                success: function (data) {
                    if (data === "success") {
                        $("#updateTime").text(new Date(updateTime));
                        $("#savingAmount").text(savingAmount);
                        $("#name").text(name);
                        $("#sex").text(sex);
                        $("#age").text(age);
                        $("#setPersonalInfoModal").modal('hide');
                    }
                    else if (data === "fail")
                        alert("修改个人信息失败!");
                },
                error: function () {
                    removeOauthTokenFromStorage();
                }
            });
        }
    }
</script>

<!--<div th:replace="header :: nav"></div>-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">个人财务管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-form navbar-right">
                <!-- need modify-->
                <a id="logoutbtn" class="btn btn-danger" href="/" style="display: none">退出登陆</a>
                <a id="loginbtn" class="btn btn-success" th:href="@{/login}">登录</a>
            </div>
        </div>
    </div>
</nav>

<section id="loginpage">
    <div id="loginpagediv" class="container" style="margin-top: 60px">

        <div id="loginform" class="row" style="margin-top: 100px">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-console"></span> Login</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" autocomplete="off">
                            <div class="form-group" style="margin-top: 30px">
                                <div class="input-group col-md-6 col-md-offset-3">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                    <input type="text" class="form-control" name="username" id="username" placeholder="账号" />
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="input-group col-md-6 col-md-offset-3">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="密码" />
                                </div>
                            </div>
                            <br />
                            <div>
                                <p id="loginstatus" style="text-align: center" class="text-danger">欢迎使用</p>
                            </div>
                            <div class="form-group">
                                <div class="input-group col-md-6 col-md-offset-3 col-xs-12 ">
                                    <button id="loginbutton" type="button" class="btn btn-primary btn-block">登录</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group col-md-6 col-md-offset-3" style="text-align: center">
                                    <a href="/register">创建账号</a> | 忘记密码?
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="mainpage">
    <div id="mainpagediv" class="container-fluid" style="display: none">
        <div class="row">
            <div id="sidenav" class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li id="center" class="active"><a>个人中心</a></li>
                    <li id="incomemanagement"><a>收入管理</a></li>
                    <li id="expensemanagement"><a>支出管理</a></li>
                    <li id="financemanagement"><a>理财管理</a></li>
                    <li id="financialstatements"><a>财务报表</a></li>
                    <li id="realassets"><a>实物资产</a></li>
                </ul>
            </div>
            <div id="centerdiv" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">个人中心</h1>

                <div class="row placeholders">
                    <div>
                        <p class="text-left">更新时间：<span id="updateTime"></span> </p>
                        <p class="text-left">储蓄金额：<span id="savingAmount"></span> </p>
                        <p class="text-left" >姓名：<span id="name"></span> </p>
                        <p class="text-left" >性别：<span id="sex"></span> </p>
                        <p class="text-left" >年龄：<span id="age"></span> </p>
                        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#setPersonalInfoModal">修改个人信息</button>
                    </div>
                </div>

                <div class="modal fade" id="setPersonalInfoModal" tabindex="-1" role="dialog" aria-labelledby="setPersonalInfoModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="setPersonalInfoModalLabel">修改个人信息</h4>
                            </div>
                            <div class="modal-body">
                                <form method="post" autocomplete="off">
                                    <div class="form-group" style="margin-top: 30px">
                                        <div class="input-group col-md-6 col-md-offset-3">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                            <input type="text" class="form-control" name="setName" id="setName" placeholder="姓名" />
                                        </div>
                                        <div class="input-group col-md-6 col-md-offset-3">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></div>
                                            <input type="text" class="form-control" name="setSex" id="setSex" placeholder="性别" />
                                        </div>
                                        <div class="input-group col-md-6 col-md-offset-3">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></div>
                                            <input type="text" class="form-control" name="setAge" id="setAge" placeholder="年龄" />
                                        </div>
                                        <div class="input-group col-md-6 col-md-offset-3">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></div>
                                            <input type="text" class="form-control" name="setSavingAmount" id="setSavingAmount" placeholder="储蓄金额" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button id="setPersonalInfoBtn" type="button" class="btn btn-primary" onclick="setPersonalInfo()">提交更改</button>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="sub-header">Section title</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Header</th>
                            <th>Header</th>
                            <th>Header</th>
                            <th>Header</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1,001</td>
                            <td>Lorem</td>
                            <td>ipsum</td>
                            <td>dolor</td>
                            <td>sit</td>
                        </tr>
                        <tr>
                            <td>1,002</td>
                            <td>amet</td>
                            <td>consectetur</td>
                            <td>adipiscing</td>
                            <td>elit</td>
                        </tr>
                        <tr>
                            <td>1,003</td>
                            <td>Integer</td>
                            <td>nec</td>
                            <td>odio</td>
                            <td>Praesent</td>
                        </tr>
                        <tr>
                            <td>1,003</td>
                            <td>libero</td>
                            <td>Sed</td>
                            <td>cursus</td>
                            <td>ante</td>
                        </tr>
                        <tr>
                            <td>1,004</td>
                            <td>dapibus</td>
                            <td>diam</td>
                            <td>Sed</td>
                            <td>nisi</td>
                        </tr>
                        <tr>
                            <td>1,005</td>
                            <td>Nulla</td>
                            <td>quis</td>
                            <td>sem</td>
                            <td>at</td>
                        </tr>
                        <tr>
                            <td>1,006</td>
                            <td>nibh</td>
                            <td>elementum</td>
                            <td>imperdiet</td>
                            <td>Duis</td>
                        </tr>
                        <tr>
                            <td>1,007</td>
                            <td>sagittis</td>
                            <td>ipsum</td>
                            <td>Praesent</td>
                            <td>mauris</td>
                        </tr>
                        <tr>
                            <td>1,008</td>
                            <td>Fusce</td>
                            <td>nec</td>
                            <td>tellus</td>
                            <td>sed</td>
                        </tr>
                        <tr>
                            <td>1,009</td>
                            <td>augue</td>
                            <td>semper</td>
                            <td>porta</td>
                            <td>Mauris</td>
                        </tr>
                        <tr>
                            <td>1,010</td>
                            <td>massa</td>
                            <td>Vestibulum</td>
                            <td>lacinia</td>
                            <td>arcu</td>
                        </tr>
                        <tr>
                            <td>1,011</td>
                            <td>eget</td>
                            <td>nulla</td>
                            <td>Class</td>
                            <td>aptent</td>
                        </tr>
                        <tr>
                            <td>1,012</td>
                            <td>taciti</td>
                            <td>sociosqu</td>
                            <td>ad</td>
                            <td>litora</td>
                        </tr>
                        <tr>
                            <td>1,013</td>
                            <td>torquent</td>
                            <td>per</td>
                            <td>conubia</td>
                            <td>nostra</td>
                        </tr>
                        <tr>
                            <td>1,014</td>
                            <td>per</td>
                            <td>inceptos</td>
                            <td>himenaeos</td>
                            <td>Curabitur</td>
                        </tr>
                        <tr>
                            <td>1,015</td>
                            <td>sodales</td>
                            <td>ligula</td>
                            <td>in</td>
                            <td>libero</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="incomemanagementdiv" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="display:none;">
                <h1 class="page-header">收入管理</h1>

                <div class="row placeholders">
                    <div>

                    </div>
                </div>
            </div>
            <div id="expensemanagementdiv" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="display:none;">
                <h1 class="page-header">支出管理</h1>

                <div class="row placeholders">
                    <div>

                    </div>
                </div>
            </div>
            <div id="financemanagementdiv" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="display:none;">
                <h1 class="page-header">理财管理</h1>

                <div class="row placeholders">
                    <div>

                    </div>
                </div>
            </div>
            <div id="financialstatementsdiv" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="display:none;">
                <h1 class="page-header">财务报表</h1>

                <div class="row placeholders">
                    <div>

                    </div>
                </div>
            </div>
            <div id="realassetsdiv" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="display:none;">
                <h1 class="page-header">实物资产</h1>

                <div class="row placeholders">
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>

</html>
