<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>注册 | 个人财务管理系统</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet" />
</head>

<body style="background-color: #f1f1f1; padding-bottom: 0">

<script th:inline="javascript">
    $(document).ready(function () {
        $("#registerbutton").click (function () {
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            $.ajax({
                url: '/uaa/register',
                datatype: 'json',
                type: 'post',
                async: false,
                data: {
                    username: username,
                    password: password
                },
                success: function (data) {
                    //var json_data = JSON.parse(data);
                    var status = data;
                    if (status.toString() === "success") {
                        $('#registerstatus').text("注册成功");
                    }
                    else if (status.toString() === 'fail')
                        $('#registerstatus').text("用户名已存在");
                },
                error: function () {
                    $('#registerstatus').text("注册失败");
                }
            });
        });
    });
</script>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">个人财务管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-form navbar-right">
                <button id="AccountCenter" class="btn btn-danger" th:if="${#httpServletRequest.remoteUser}">个人中心</button>
                <a class="btn btn-danger" th:href="@{/logout}" th:if="${#httpServletRequest.remoteUser}">退出登陆</a>
                <a class="btn btn-success" th:href="@{/login}" th:unless="${#httpServletRequest.remoteUser}">登录</a>
            </div>
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 60px">

    <div class="row" style="margin-top: 100px">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-console"></span> Register</h3>
                </div>
                <div class="panel-body">
                    <form method="post" autocomplete="off">
                        <div class="form-group" style="margin-top: 30px">
                            <div class="input-group col-md-6 col-md-offset-3">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                <input type="text" class="form-control" name="username" id="username" placeholder="账号" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="input-group col-md-6 col-md-offset-3">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                <input type="password" class="form-control" name="password" id="password" placeholder="密码" />
                            </div>
                        </div>
                        <br />
                        <div>
                            <p id="registerstatus" style="text-align: center" class="text-danger"></p>
                        </div>
                        <div class="form-group">
                            <div class="input-group col-md-6 col-md-offset-3 col-xs-12 ">
                                <button id="registerbutton" type="button" class="btn btn-primary btn-block">注册</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group col-md-6 col-md-offset-3" style="text-align: center">
                                <a href="/login">返回登录页面</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>

</html>
